@font-face {
    font-family: Raleway400;
    src: url("/fonts/Raleway-Regular.woff2") format("woff2"),
    url("/fonts/Raleway-Regular.woff") format("woff"),
    url("/fonts/Raleway-Regular.ttf") format("truetype"),
    url("/fonts/Raleway-Regular.eot") format("eot");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway500;
    src: url("/fonts/Raleway-Medium.woff2") format("woff2"),
    url("/fonts/Raleway-Medium.woff") format("woff"),
    url("/fonts/Raleway-Medium.ttf") format("truetype"),
    url("/fonts/Raleway-Medium.eot") format("eot");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Raleway500it;
    src: url("/fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("/fonts/Raleway-MediumItalic.woff") format("woff"),
    url("/fonts/Raleway-MediumItalic.ttf") format("truetype"),
    url("/fonts/Raleway-MediumItalic.eot") format("eot");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Raleway600;
    src: url("/fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("/fonts/Raleway-SemiBold.woff") format("woff"),
    url("/fonts/Raleway-SemiBold.ttf") format("truetype"),
    url("/fonts/Raleway-SemiBold.eot") format("eot");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Raleway700;
    src: url("/fonts/Raleway-Bold.woff2") format("woff2"),
    url("/fonts/Raleway-Bold.woff") format("woff"),
    url("/fonts/Raleway-Bold.ttf") format("truetype"),
    url("/fonts/Raleway-Bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Raleway900;
    src: url("/fonts/Raleway-Black.woff2") format("woff2"),
    url("/fonts/Raleway-Black.woff") format("woff"),
    url("/fonts/Raleway-Black.ttf") format("truetype"),
    url("/fonts/Raleway-Black.eot") format("eot");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Montserrat700;
    src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff"),
    url("/fonts/Montserrat-Bold.ttf") format("truetype"),
    url("/fonts/Montserrat-Bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Kaushan400;
    src: url("/fonts/KaushanScript-Regular.woff2") format("woff2"),
    url("/fonts/KaushanScript-Regular.woff") format("woff"),
    url("/fonts/KaushanScript-Regular.ttf") format("truetype"),
    url("/fonts/KaushanScript-Regular.eot") format("eot");
    font-weight: 400;
    font-style: normal;
}